<h1>New mileage</h1>

<%= error_messages_for :mileage %>

<% form_for(@mileage) do |f| %>
  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', mileages_path %>
